@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sofia+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(202, 202, 255);
}

.container {
    width: 90%;
    padding: 10px;
    margin: 1rem auto;
}

.heading {
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
    font-family: sans-serif;
    color: blue;
    text-align: center;
}

.input {
    padding: 10px;
    margin: 20px 20px;
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

textarea {
    width: 100%;
    resize: none;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: black
}

.primary-btn {
    margin-top: 10px;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: blue;
}

.primary-btn:hover {
    background-color: rgb(124, 12, 189);
}

.notes-heading {
    font-size: 1.2rem;
    text-align: center;
}

#notes{
    text-align: justify;
    justify-content: center;
    margin: 10px;
    
}

.delete-btn {
    border: none;
    font-size: 14px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(238, 148, 30);
}

.output-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.delete-btn:hover {
    background-color: #f13838;
}

.noteCard {
    width: 250px;
    margin: 1rem;
    padding: 10px;
    border-radius: 7px;
    background-color: #b19dd1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-text {
    margin: 10px 0;
    text-align: justify;
}
